/* Error: expected "{".
 *    ,
 * 77 |     &:hover¶ background: ;
 *    |                          ^
 *    '
 *   app/assets/styles/pages/_bag.scss 77:26  @import
 *   app/assets/styles/pages/all.scss 4:9     @import
 *   app/assets/styles/master.scss 4:9        root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "{".\a    \2577 \a 77 \2502      &:hover¶ background: ;\a    \2502                           ^\a    \2575 \a   app/assets/styles/pages/_bag.scss 77:26  @import\a   app/assets/styles/pages/all.scss 4:9     @import\a   app/assets/styles/master.scss 4:9        root stylesheet';
}
