.pokedex__container {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 10px;

  .pokemon__item {
    background-color: #f1daee;
    border-radius: 0.3rem;
    display: flex;
    flex-direction: column;
  }
}
.pokemon__header {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  background-color: #baa8dc;
  color: #fff;
  padding: 0.4rem;
  border-radius: 0.3rem 0.3rem 0 0;
  font-family: "Lato", sans-serif;

  img {
    width: 20px;
    height: 20px;
  }
}
.pokemon__image {
  filter: contrast(0%);
}
